<!-- ======================================= Nav ======================================= -->
{{!-- <div class="container"> --}}
<div class="main">
    <div class="row">
        <div class="col-12 home">
            <a href="/" class="header">vGame DB </a>
            <img src="/css/vgqr.png" class="qr" alt="">

            <div class="userStatus">
                Welcome
                {{#each user}}
                <span id="userName"></span>
                {{/each}}
                <a data-toggle="collapse" href="#userEdit"><img id="userImg" src="/css/true.jpg"></a>
                <div class="collapse" id="userEdit">
                    <div id="changePass">Change Password</div>
                    <div id="logOut">Log Out</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 searchGame">
            <!-- favorite page btn -->
            <a href="/" class="btn btn-primary btn-sm" id="favPgBtn">Home</a>
            <a href="/favorite" class="btn btn-primary btn-sm" id="favPgBtn">favorite</a>

            <!-- search game -->
            <input class="input" id="inputGame" type="text" placeholder="  Game Name">
            <button class="btn btn-sm btn-primary" id="searchBtn"><i class="fa fa-search"></i></button>
            <div class="searchRes" data-show="false">
                <!-- search result pop-up here -->
            </div>

            <!-- bootstrap pagination -->
            <nav aria-label="">
                <ul class="pagination">
                    <li class="page-item" id="previous-page">
                        <a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                </ul>
            </nav>

            <!-- sort/order game -->
            <div class="searchBy">
                <form class="orderForm">
                    <select class="select" name="games" id="gameOrder">
                        <option value="">&nbsp;Order by</option>
                        <option value="yd">Year Desc</option>
                        <option value="ya">Year Asc</option>
                        <option value="sd">Sales Desc</option>
                        <option value="sa">Sales Asc</option>
                    </select>
                    <button type="submit" class="btn btn-sm btn-success" id="orderBtn">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

                <form class="sortForm">
                    <select class="select" name="games" id="platform">
                        <option value="">&nbsp;Platforms</option>
                        <option value="ps4">ps4</option>
                        <option value="xb1">XBox</option>
                        <option value="wiiu">WiiU</option>
                        <option value="3ds">3DS</option>
                    </select>
                    <select class="select" name="games" id="genre">
                        <option value="">&nbsp;Genres</option>
                        <option value="act">Action</option>
                        <option value="rpg">RPG</option>
                        <option value="spt">Sport</option>
                        <option value="sht">Shooters</option>
                    </select>
                    <button type="submit" class="btn btn-sm btn-success" id="sortBtn">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ======================================= Body ======================================= -->
{{!-- <section class="section" id="page"> --}}
<div class="container" id="page">
    <div class="row">
        <div class="col-12 m-auto">
            {{#each game}}
            <div class="list-group col-12" id="gameCard">
                <div class="transition">
                    <h5>{{this.Name}}</h5>
                    <div>Year of Release: {{this.Year_of_Release}}</div>
                    <div>Genre: {{this.Genre}}</div>
                    <div>Platform: {{this.Platform}}</div>
                </div>

                <a href="/card/id/{{this.id}}" class="cardBtn">
                    <h6> More Details</h6>
                </a>
                <button class="favBtn btn-danger" data-gameId="{{this.id}}" data-favSta="{{this.isFav}}">
                    <i class="fas fa-heart"></i>
                </button>
            </div>
            {{/each}}
        </div>
    </div>
    <a href="/" class="btn btn-primary backHome">Home</a>
    <!-- ======================================= footer ======================================= -->
    <footer>
        <div>Copyright &copy; 2019</div>
    </footer>
</div>